.sidebar {
    width: 250px;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    padding-left: 20px;
    margin: 0;
}

.menu {
    flex: 1;
}
