.bills-list-container {
  margin-top: 1rem;
}

.bills-list-table {
  border: 1px solid;
  width: 100%;
}

.bills-list-table th, .bills-list-table td {
  padding: 5px;
  text-align: left;
}

.bills-list-table th {
  background-color: #f4f4f4;
}

.bills-list-date {
  text-align: center;
}

.bills-list-date div {
  line-height: 1.2;
}

.bills-list-dotsContainer {
  margin-top:0px;
  text-align: center;
  margin-top: 1px;
}

.bills-list-dot {
  margin-top:0px;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bills-list-dot.active {
  background-color: #007bff;
}

.bills-list-dot:hover {
  background-color: #0056b3;
}
