.bills-list-container {
  margin-top: 1rem;
}

.bills-list-table {
  border: 1px solid;
  width: 100%;
}

.bills-list-table th, .bills-list-table td {
  padding: 5px;
  text-align: left;
}

.bills-list-table th {
  background-color: #f4f4f4;
}

.bills-list-date {
  text-align: center;
}

.bills-list-date div {
  line-height: 1.2;
}

.bills-list-dotsContainer {
  margin-top:0px;
  text-align: center;
  margin-top: 1px;
}

.bills-list-dot {
 
  height: 7px;
  width: 7px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.bills-list-dot.active {
  background-color: #007bff;
}

.bills-list-dot:hover {
  background-color: #0056b3;
}
/* Common Table Styles */
.table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f4f4f4;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  height: 5px;
  width: 5px;
  margin: 0 5px;
  background-color: #bbb; /* Light gray color for inactive dots */
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #007bff; /* Blue color for the active dot */
}

.dot:hover {
  background-color: #0056b3; /* Darker blue for hover effect */
}

/* Date styling inside the table cells */
.bills-list-date {
  text-align: center;
}

.bills-list-date div {
  line-height: 1.2;
}

