.history{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;

}
.addAccounts{
background-color:#20b2aa ;
color: white;
border: none;
padding: 12px 17px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
margin-top: 20px;
}
.addAccounts:hover {
    background-color:#59cf94;
}