.history{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;

}
.addAccounts{
background-color:#20b2aa ;
color: white;
border: none;
padding: 12px 17px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
margin-top: 20px;
}
.addAccounts:hover {
    background-color:#59cf94;
}
/* DropdownMenu.css */

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-dropdown select {
    width: 100%;
    padding: 10px;
    appearance: none; /* Removes default arrow */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.custom-dropdown::after {
    content: '▼'; /* Unicode character for a downward arrow */
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #333;
}
